.MaskLoading[_v-68b1f9a5] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
}
.MaskLoading ._text[_v-68b1f9a5] {
  padding: 16px 0;
  font-size: 0.28rem;
  color: #999;
  text-align: center;
}
.MaskLoading ._text img[_v-68b1f9a5] {
  -webkit-animation: rotate 1s linear infinite;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 auto .05rem;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
