<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no">
<title>囤书节</title>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    (function (doc, win) {
	    var docEl = doc.documentElement,resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
	    function recalc() {
	        var clientWidth = docEl.clientWidth;
	         //alert(docEl.clientHeight)
	        if (!clientWidth) return;
	        clientWidth=clientWidth > 750 ? 750 : clientWidth;
	        docEl.style.fontSize = (clientWidth / 7.5) + 'px';
	    };
	    if(!doc.addEventListener) return;
	    win.addEventListener(resizeEvt, recalc, false);
	    doc.addEventListener('DOMContentLoaded', recalc, false);
	})(document, window);

</script>
<link href="../adr/dist/share.style.css" rel="stylesheet">
</head>
<body>
<div id="root" ref="root">
	<mask-load v-if="loading"></mask-load>
	<template v-if="!loading">
		<div class="top">
			<img src="../adr/images/sharebanner.jpg" @load="fixscroll">
			<div class="userinfo">
				<div class="uavor">
					<img :src="page.userAvor ? page.userAvor : '../adr/images/default.jpg'">
				</div>
				<p>你的好友<strong v-if="page.userNick">{{page.userNick}}</strong>已经抢疯了，</p>
				<p>就在QQ阅读等你呢～</p>
				<div class="go">
					<a href="javascript:;" @click="isHasApp($event)" id="btn1">去QQ阅读参加囤书节啦</a>
					<div class="arrows"><i></i><i></i><i></i></div>
				</div>
			</div>
		</div>
		<ul :class="[{'fixtab':tab.fix},'tab']" ref="tab"> 
			<li :class="{'active':tab.pos==1}"></li>
			<li :class="{'active':tab.pos==2}"></li>
		</ul>
		<div class="wrap">
			<batch-package :pkdata="page" :pknum="page.batchNumber" v-on:load="isHasApp"></batch-package>
			<choose-package :pkdata="page" :pknum="page.choiceNumber" v-on:load="isHasApp"></choose-package>
		</div>
		<rule :plat="plat"></rule>
	</template>
	<app-load v-if="loadmask"></app-load>
</div>
<script src="js/zepto.min.js"></script>
<script src="../adr/js/vue.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript" src="https://yuedu.reader.qq.com/event/common/en.js"></script>
<script src="../adr/dist/share.js"></script>
<script type="text/javascript" data-main="https://yuedu.reader.qq.com/event/common/ne.js" src="https://yuedu.reader.qq.com/event/common/require.js"></script>
</body>
</html>