<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>联系方式ios</title>

	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css">
</head>

<body>

	<div class="form-editing" v-show="page==='editing'">
		<p class="one">
			中奖用户务必正确填写联系方式，方便客服与您联系。
		</p>
		<ul>
			<li>
				<p class="error">{{phoneError}}</p>
				<input name="phone" type="text" placeholder="电话" v-model="phone" v-on:blur="checkPhone"/>
				<p class="necc">必填</p>
			</li>
			<li>
				<p class="error">{{qqError}}</p>
				<input name="qq" type="text" placeholder="QQ" v-model="qq" v-on:blur="checkQQ" />
				<p class="necc">必填</p>
			</li>
			<li>
				<p class="error"></p>
				<input name="name" type="text" placeholder="姓名" v-model="name"/>
			</li>
			<li>
				<p class="error"></p>
				<input name="address" type="text" placeholder="地址" v-model="address"/>
			</li>
		</ul>
		<div class="submit" v-on:click="submit">
			提交
		</div>
	</div>

	<div class="form-done" v-show="page==='done'">
		<p class="one">
			中奖用户务必正确填写联系方式，方便客服与您联系。
		</p>
		<ul>
			<li>
				<p class="text">电话： {{phone}}</p>
			</li>
			<li>
				<p class="text">QQ ： {{qq}}</p>
			</li>
			<li>
				<p class="text">姓名： {{name}}</p>
			</li>
			<li>
				<p class="text">地址： {{address}}</p>
			</li>
		</ul>
		<div class="edit" v-on:click="edit">
			修改
		</div>
	</div>

<!-- <script type="text/javascript" src="js/debug.js"></script> -->
<script type="text/javascript" src="js/vue.min.js"></script>

<script type="text/javascript" src="js/charm.js"></script>
<script type="text/javascript" src="js/cfoot.js"></script>
<script type="text/javascript" src="js/local.js"></script>

<script type="text/javascript" src="./dist/bundle_contact.js"></script>

</body>

</html>