* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  font-size: 100px;
}
body {
  font-family: Microsoft Yahei;
}
ul {
  list-style: none;
}
.mask-landscape {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  display: none;
  z-index: 1000;
}
.mask-landscape img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  display: block;
}
.cover {
  position: relative;
  width: 100%;
  background: lightgrey;
}
.cover .background {
  width: 100%;
  display: block;
}
.cover .title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.cover .btnStart {
  position: absolute;
  left: 10%;
  top: 8.05rem;
  width: 80%;
  overflow: hidden;
  display: none;
}
.cover .btnStart .btn-start {
  width: 200%;
  display: block;
}
.cover .btnOver,
.cover .btnPaid {
  position: absolute;
  left: 10%;
  top: 8.05rem;
  width: 80%;
  display: none;
}
.world {
  position: relative;
  width: 100%;
  height: 100%;
  background: #E5E5E5;
  display: none;
  overflow: hidden;
}
.world .questionPage {
  position: relative;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  display: none;
}
.world .questionPage .space {
  position: relative;
  width: 90%;
  margin: 0.48rem auto 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}
.world .questionPage .space .paper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  z-index: 20;
}
.world .questionPage .space .paper .pageimg {
  width: 100%;
  display: block;
}
.world .questionPage .space .paper .paper-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.world .questionPage .space .paper .paper-content .title {
  width: 80%;
  margin: 15% auto 8% auto;
  font-size: 0.3rem;
}
.world .questionPage .space .paper .paper-content ul {
  width: 80%;
  margin: auto;
}
.world .questionPage .space .paper .paper-content ul li {
  position: relative;
  margin-bottom: 0.4rem;
  font-size: 0.26rem;
}
.world .questionPage .space .paper .paper-content ul li img {
  width: 100%;
}
.world .questionPage .space .paper .paper-content ul li .optionContent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: white;
}
.world .questionPage .space .paper:nth-child(1) {
  position: relative;
}
.world .questionPage .space .nextPanel {
  opacity: 0;
  z-index: 10;
}
.world .questionPage .count {
  width: 100%;
  text-align: center;
  font-size: 0.28rem;
  font-weight: bold;
}
.resultPage {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}
.resultPage .result_frame {
  position: relative;
  margin-top: 0.15rem;
  margin-left: 2%;
  width: 96%;
  overflow: hidden;
}
.resultPage .result_frame .bg {
  width: 100%;
}
.resultPage .result_frame .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.resultPage .result_frame .content .badge {
  width: 90%;
  display: block;
  margin: 0.56rem auto 0.54rem auto;
}
.resultPage .result_frame .content .briefing {
  margin-bottom: 0.25rem;
  font-size: 0.31rem;
  font-weight: bold;
  color: #525155;
}
.resultPage .result_frame .content .comment {
  margin-bottom: 0.66rem;
  font-size: 0.26rem;
  color: #999999;
}
.resultPage .result_frame .content .trophy {
  margin-bottom: 0.5rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #525155;
}
.resultPage .result_frame .content .coupon {
  height: 0.42rem;
  display: none;
  vertical-align: middle;
}
.resultPage .result_frame .content p {
  text-align: center;
}
.resultPage .result_frame .content .getNow {
  width: 70%;
  margin: auto;
  margin-bottom: 0.3rem;
  display: block;
}
.resultPage .result_frame .content .couponsTaken {
  width: 70%;
  margin: auto;
  margin-bottom: 0.3rem;
  display: block;
}
.resultPage .result_frame .content .tryAgain {
  font-size: 0.28rem;
  font-weight: bold;
  color: #525155;
  text-align: center;
}
.resultPage .result_frame .content .tryAgain .arrow {
  height: 0.28rem;
  vertical-align: middle;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.mask .bg {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.mask .confirmPanel {
  position: absolute;
  left: 15%;
  top: 0;
  width: 70%;
  margin: 30% auto 0 auto;
  z-index: 102;
}
.mask .confirmPanel .penguin {
  position: absolute;
  left: 37.5%;
  top: -10%;
  width: 25%;
}
.mask .confirmPanel .checkmark,
.mask .confirmPanel .cross {
  position: absolute;
  left: 42.5%;
  top: 10%;
  width: 15%;
}
.mask .confirmPanel .close {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: 0.6rem;
  z-index: 100;
}
.mask .confirmPanel .bgImg {
  width: 100%;
}
.mask .confirmPanel .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mask .confirmPanel .content .status {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 0.34rem;
  font-weight: bold;
}
.mask .confirmPanel .content .info {
  margin: auto;
  margin-bottom: 0.4rem;
  width: 85%;
  text-align: center;
  font-size: 0.27rem;
}
.mask .confirmPanel .content .goto {
  position: relative;
  width: 3.6rem;
  margin: 0 auto 0 auto;
}
.mask .confirmPanel .content .goto .goto_bg {
  width: 100%;
}
.mask .confirmPanel .content .goto .goto_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1rem;
  text-align: center;
  font-size: 0.34rem;
  font-weight: bold;
  color: white;
}
/* Media Queries */
@media (orientation: landscape) {
  .mask-landscape {
    display: block!important;
  }
}
@media (max-width: 350px) {
  .space {
    width: 80%!important;
  }
  .space ul li {
    margin-bottom: 0.15rem!important;
  }
  .resultPage .badge {
    margin: 0.28rem auto 0.27rem auto!important;
  }
  .resultPage .briefing {
    margin-bottom: 0.125rem!important;
  }
  .resultPage .comment {
    margin-bottom: 0.33rem!important;
  }
  .resultPage .trophy {
    margin-bottom: 0.25rem!important;
  }
  .resultPage .getNow {
    margin-bottom: 0.15rem!important;
  }
  .resultPage .couponsTaken {
    margin-bottom: 0.15rem!important;
  }
}
