body,p,ul,li,strong,h1,dl,dd,dt{margin:0;padding:0;}
ul,li{list-style:none}
img{border:none;width:100%;display: block;}
a{text-decoration:none;-webkit-touch-callout:none;}
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-animation-fill-mode:both!important}
html,body{height: 100%}
body{font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;-webkit-text-size-adjust:none;-webkit-user-select:none;font-size: .28rem;color:#333}
/*load*/
.loadpage{text-align: center;color: #999;background: #e6e6e6;width:100%;height: 100%;-webkit-transition:opacity 1s;position:absolute;top:0;left:0;z-index: 10;-webkit-animation:fadeOut .6s 2s}
.loadpage .headline{font-size: .32rem;color: #333;line-height: .46rem;padding: 4rem 0 .66rem}
.loading{width:5.04rem;height: .14rem;background: #c9c9c9;border-radius: .14rem;margin:0 auto .2rem;position: relative;}
.loading span{position: absolute;top:.02rem;left:.02rem;right:.02rem;width: 50%;height:.1rem;border-radius: .1rem;background:#9a9a9a;-webkit-animation:load 2s;}
@-webkit-keyframes load{
  0%{width: 0}
  100%{width: 100%}
}
/*======section======*/
section{width:100%;height: 100%;position:absolute;top:0;left:0;overflow: hidden;background: url(../images/bg.jpg) no-repeat;background-size: 100% 100%;-webkit-animation:fadeIn 1s 2s}
.arrowl,.arrowr{width:.5rem;height:.64rem;position: absolute;top:5.7rem;left:.2rem;z-index: 10;-webkit-transition:opacity .2s;}
.arrowr{left:auto;right:.2rem;-webkit-animation:ar 1s linear infinite alternate}
.arrowl{-webkit-transform:translate3d(0,0,0) rotate(180deg);-webkit-animation:al 1s linear infinite alternate}
.arrowl i,.arrowr i{display: inline-block;width:.24rem;height:.48rem;background: url(../images/arrow.png) no-repeat;background-size: 100% auto;}
.arrowl i:nth-child(1){opacity: .6}
.arrowr i:nth-child(1){opacity: .6}
@-webkit-keyframes al{
  100%{-webkit-transform:translate3d(.1rem,0,0) rotate(180deg)}
}
@-webkit-keyframes ar{
  100%{-webkit-transform:translate3d(-.1rem,0,0)}
}
.bottom{opacity:0}
.pagelist{height: 100%;display: -webkit-box;-webkit-transition:all 1s;position: relative;z-index: 100}
.pagelist>div{width:100%;position: relative;overflow: hidden;}
.showpage{z-index: 100;visibility: visible;opacity: 1;}
/*p1*/
.p1{height:100%;}
.p1 .elem1{margin:1.66rem auto .28rem;width:6.38rem}
.p1 .elem2{width:3.54rem;margin:0 auto}
.p1 .elem3{width:.28rem;position: absolute;top:4.9rem;right:.32rem}
.p1 .elem4{width:100%;color: #626a7c;position: absolute;bottom:.42rem;left: 0;text-align: center;}
/*p2*/
.p2{height:100%;}
.p2 .icos{width:4.76rem;margin:2% auto;position: relative;z-index: 2}
.active .icos img{-webkit-animation:ico 1s 2.4s;}
@-webkit-keyframes ico{
  0%{-webkit-transform:translate3d(0,-16rem,0);}
  20%{-webkit-transform:translate3d(0,-8rem,0);}
  40%{-webkit-transform:translate3d(0,0,0);}
  60%{-webkit-transform:translate3d(0,0,0) rotate(12deg);}
  80%{-webkit-transform:translate3d(0,0,0) rotate(-12deg);}
  100%{-webkit-transform:translate3d(0,0,0) rotate(0deg);}
}
.icos img:nth-child(2){margin:-.2rem 0 0 .96rem;-webkit-animation-delay:2.2s;}
.icos img:nth-child(3){margin:-.45rem 0 0 -.8rem;-webkit-animation-delay:2s;}
.icos img:nth-child(4){margin:0 0 0 .9rem;-webkit-animation-delay:1.6s;}
.icos img:nth-child(5){margin:.05rem 0 0 -.5rem;-webkit-animation-delay:1.4s;}
.icos img:nth-child(6){margin:0 0 0 1.2rem;-webkit-animation-delay:1.2s;}
.icos img:nth-child(7){margin:0 0 0 -.9rem;-webkit-animation-delay:1s;}
.icos img:nth-child(8){margin:0 0 0 .9rem;-webkit-animation-delay:.8s;}
.icos img:nth-child(9){margin:0 0 0 -.9rem;-webkit-animation-delay:.6s;}
/*p3*/
.p3{height:100%;}
.blists{width:100%;padding-top:1.3rem;position: relative;z-index:1}
.blists .btop{width:4.78rem;position: absolute;top:.26rem;left:0;right:0;margin:auto;z-index: 12;-webkit-transform:translate3d(0,0,0);-webkit-transform-style: preserve-3d;}
.bdtit{position:absolute;width: 100%;height: 100%;top:.2rem;left: 0;text-align: center;}
.bdtit strong{font-size:.32rem;color:#fddb92;line-height: .36rem;display: block;}
.bdtit p{font-size:.24rem;color:#e6e6e6}
/*立方体*/
.box{
  width:3.6rem; height:10rem;
  margin:0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transform:translate3d(0,0,0) rotateX(-12deg) rotateY(-45deg);
  -webkit-transition:all 1s;
  transform-style: preserve-3d;
  transform:translate3d(0,0,0) rotateX(-12deg) rotateY(-45deg);
  transition:all 1s;
  // -webkit-backface-visibility:hidden; 
}
.box>div{width:100%;height:100%;position:absolute; left:0; top:0;-webkit-transform-style: preserve-3d;-webkit-backface-visibility:visible;}
.box .front{ -webkit-transform:translateZ(1.8rem);transform:translateZ(1.8rem);}
.box .back{-webkit-transform:translateZ(-1.8rem);transform:translateZ(-1.8rem);}
.box .left{ -webkit-transform:translateX(-1.8rem) rotateY(90deg);transform:translateX(-1.8rem) rotateY(90deg);}
.box .right{ -webkit-transform:translateX(1.8rem) rotateY(90deg);transform:translateX(1.8rem) rotateY(90deg);}
.box .top{ -webkit-transform:translateY(-1.8rem) rotateX(90deg);transform:translateY(-1.8rem) rotateX(90deg);height:3.6rem;}
.box .bottom{ -webkit-transform:translateY(7rem) rotateX(90deg);transform:translateY(7rem) rotateX(90deg);height:3.6rem;}
/*书籍信息*/
.box ul{height: 100%;}
.box li{border-bottom:1px solid #a39f7e;padding: .2rem 0 .12rem .7rem;}
.box strong{font-size: .4rem;color: #ce6656;display: block;margin-bottom: -.15rem;-webkit-transform:scale(1,.8);}
.box .cover{width: 2.1rem;height: 2.76rem;background: #fff;-webkit-box-sizing:border-box;padding:.06rem;-webkit-transform:scale(1,.86);}
.box .cover img{width: 1.98rem;height: 2.64rem;}
.bname{font-size: .3rem;color: #222;line-height: .44rem;-webkit-transform:scale(1,.9);margin:-.12rem 0 -.05rem}
.tag{font-size: .24rem;color: #333;-webkit-transform:scale(1,.9)}
.back ul,.left ul{-webkit-transform:translateZ(1.8rem);transform:translateZ(1.8rem);-webkit-transform:rotateY(180deg);}
.red .front ul,.red .back ul{background:#f1efc3}
.red .left ul,.red .right ul{background: #e5dfb0}
.red .top ul,.red .bottom ul,.red .top,.red .bottom{background: #fffddc}
.blue .front ul,.blue .back ul{background: #f2d1c6}
.blue .left ul,.blue .right ul{background: #e7bcaf}
.blue .top ul,.blue .bottom ul,.blue .top,.blue .bottom{background: #fce5de}
.green .front ul,.green .back ul{background: #dae7c5}
.green .left ul,.green .right ul{background: #c6dba5}
.green .top ul,.green .bottom ul,.green .top,.green .bottom{background: #eef6e1}
.flip{-webkit-animation:flip .5s;-webkit-transform-origin:center top;}
@-webkit-keyframes flip{
  0%,100%{-webkit-transform:scaleX(1);}
  50%{-webkit-transform:scaleX(0);}
}
/*全部榜单*/
.seeall{position: absolute;bottom:6%;left:0;right:0;margin:auto;width:3.4rem;height:.8rem;background: #c1d6e5;line-height:.8rem;z-index: 40;text-align: center;border-radius: .8rem;}
.mask{position: absolute;width: 100%;height: 100%;top:0;left:0;background: rgba(0,0,0,.62);z-index:50;overflow: hidden;}
.allbd{width: 7.5rem;padding-top:2.12rem;margin:.3rem auto 0;background: url(../images/all.png) center top no-repeat;background-size:100% auto;-webkit-box-sizing:border-box;}
.allbd h1{position: absolute;color: #cf6756;font-size:.48rem;top:1.3rem;left:0;right: 0;text-align: center;}
.allbd .close{position:absolute;top:1rem;right:.3rem;width:1rem;height:1rem;background: url(../images/close.png) center no-repeat;background-size:.46rem auto;z-index: 10}
.iscroll{width: 6.6rem;height:9.8rem;margin:0 auto;background: #fff;overflow: hidden;-webkit-transform:translate3d(0,0,0);position: relative;z-index: 100}
.iscroll ul{-webkit-transform:translate3d(0,0,0);height: 29.2rem;}
.iscroll li{height: 2.92rem;display: -webkit-box;-webkit-box-pack:center;padding:.36rem .3rem 0;-webkit-box-sizing:border-box;background: #f7f7f7}
.iscroll li:nth-child(even){background: #fff}
.iscroll .acover{width: 1.78rem;height:2.36rem;margin-right: .3rem;background: url(../images/acover.png) no-repeat;background-size: 100% auto;}
.iscroll .acover img{width: 1.6rem;position: relative;top: .02rem;left:.1rem}
.iscroll .ainfo{width: 3.92rem;overflow: hidden;}
.aname{font-size: .32rem;color: #cf6856;font-weight: bold;/*white-space: nowrap;overflow: hidden;text-overflow:ellipsis;*/}
.aname i{font-size: .48rem}
.intro{line-height: .44rem;margin-top: .1rem}
.showmask{-webkit-animation:fadeIn .5s}
@-webkit-keyframes fadeIn{
  0%{opacity: 0}
  100%{opacity: 1}
}
.hidemask{-webkit-animation:fadeOut .3s}
@-webkit-keyframes fadeOut{
  0%{opacity: 1}
  100%{opacity: 0}
}
.showmask .allbd{-webkit-animation:up 1s}
@-webkit-keyframes up{
  0%{-webkit-transform:translate3d(0,12rem,0);height: 0}
  100%{-webkit-transform:translate3d(0,0,0);height: 10rem}
}
.hidemask .allbd{-webkit-animation:down .2s}
@-webkit-keyframes down{
  0%{-webkit-transform:translate3d(0,0,0);height: 10rem}
  100%{-webkit-transform:translate3d(0,12rem,0);height: 0}
}
/*s4*/
.pagelist .p4{text-align: center;position: relative;height: 100%;overflow: hidden;}
.pagelist .udbox{width: 100%;height: 100%;overflow: hidden;position: relative;}
.p4 .elem1{width: 6.32rem;margin:1.4rem auto .44rem;display: inline-block;}
.p4 .elem2{color: #666;line-height: .68rem;}
.p4 .btn{width: 3.42rem;height: .8rem;background: #cf6756;color: #fff;line-height: .8rem;margin-bottom:.28rem;border-radius: .8rem;display: inline-block;}
.shareagain{position: absolute;top:.24rem;right:-.92rem;width:1.84rem;height:.7rem;background:#91a6b2 url(../images/s4-3.png) .2rem .14rem no-repeat;background-size:.5rem auto;border-radius: .7rem}
.sbooks{width:6.62rem;margin:0 auto;position: relative;z-index: 10}
.sbooks ul{display:-webkit-box;-webkit-box-pack:justify;margin-top: .32rem}
.sbooks ul li{width: 1.86rem;}
.sbooks .scover{width: 100%;height: 2.5rem;margin-bottom: .16rem;box-shadow: .06rem .06rem rgba(0,0,0,.16)}
.sbooks .scover img{height: 2.5rem;}
.sbooks ul li p{line-height:.4rem;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.sbooks ul li p:nth-of-type(2),.secret p{color: #777;font-size: .24rem;text-decoration: line-through;}
.seemsg{color: #666;padding:.36rem .14rem 0;line-height: .4rem;margin-bottom: -.1rem}
.secret{margin-top: 0}
.secret .scover{background-image:url(../images/s4-2.png);background-repeat:no-repeat;background-size:6.6rem auto;position: relative;}
.secret .scover::before{content:"";width: .1rem;height: 100%;position: absolute;top:0;left:0;}
.sred{background-color: #fae7e1;background-position: 0 center}
.syellow{background-color: #fffddc;background-position: -2.32rem center}
.sgreen{background-color: #eef6e1;background-position: -4.64rem center}
.sred::before{background: #f2d3c9}
.syellow::before{background: #efecc0}
.sgreen::before{background: #d7e5c0}
.p4 .grey{color: #fff;background: #999}
.sharetip{display: inline-block;position: relative;}
.sharetip .refresh{ position: absolute;top: .25rem;right: -1rem;text-decoration: underline;color: #005ae0;font-size: .28rem}
/*rule*/
.rule{padding:.7rem .46rem .4rem;position: relative;z-index: 10}
.rule dt{margin:0 auto .3rem;font-size: .36rem}
.rule dd p{font-size: .24rem;color: #666;line-height: .38rem;text-align: left;position: relative;padding-left: .28rem}
.rule dd span{position: absolute;left:0;top: 0}

/*bg*/
.bgelem{position: absolute;width: 100%;top:0;left: 0;height: 100%;overflow: hidden;}
.bgelem .bg2{position: absolute;width: 100%;top: 7.16rem;left: 0}
.bg3{position: absolute;width: 110%;bottom:-10%;left: -.4rem}
.p3 .bg3{z-index: 20;-webkit-transition:opacity 1s;opacity: 0}
.active .bg3{-webkit-animation:fadeIn 1s .2s}
.bgelem .bg4{position: absolute;width: 1.06rem;top:7.5rem;right: -.2rem}
.bgelem .bg5{position: absolute;width: 100%;bottom:-1.6rem;left:0}
@media screen and (min-width:360px) and (max-height:520px){
  .seeall{bottom:4%}
  .p3 .bg3{bottom: -16%}
}
@media screen and (min-width:380px) and (max-height:520px){
  .p2 .icos{width:4.2rem}
}
@media screen and (min-width:380px) and (max-height:480px){
  .blists{-webkit-transform: scale(.8);margin-top: -1rem;}
  .p1 .elem2{width: 3rem}
  .p2 .icos{width:4rem}
}
/*======mask======*/
.dloadmask{position:fixed;top:0;left:0;width: 100%;height: 100%;background:rgba(0,0,0,0.7);display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;z-index: 100;}
.tiparea{width:6.4rem;background: #fff;border-radius:0.04rem;text-align: center;color: #444;font-size: .28rem;line-height:.4rem;position: relative;}
.tiparea h3{font-weight: normal;padding:.26rem 0;border-bottom: 1px solid #e3e4e6;font-size: .28rem}
.tiparea p{padding: 0.64rem 0}
.dloadmask .btns{display: -webkit-flex;-webkit-flex:1;width: 100%}
.dloadmask .btns span{height: 1rem;display: block;width: 100%;line-height: 1rem;-webkit-box-sizing:border-box;}
.dloadmask .btns .certain{background: #3d8dcf;color: #fff;}
.dloadmask .btns .cancle{color: #444;border-top: 0.01rem solid #e3e4e6;}