:root{
  --maincolor:#968375;
  --redcolor:#fa654f;
  --titlecolr:#341c17;
  --greenbgcor:#3fbc82;
  --greenborbotcor:#31a06c;
  --btncolor:#fff;
}
body,div,p,h4,ul,li{margin:0;padding:0;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
li{ list-style:none;}
em,i,span{ font-style:normal; font-weight: normal;}
input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*-webkit-user-select: none;*/-webkit-appearance:none;outline: none;border: none;}
input::-webkit-input-placeholder{ color: #948076; }
input:focus::-webkit-input-placeholder { /*color:transparent;*/ }
body{font-family:"Microsoft YaHei",Helvetica,STHeiTi,sans-serif,sans-serif;-webkit-text-size-adjust:none; font-size: .28rem; line-height: .28rem; color: #341c17; background:#28202e;}
.hide{display: none;}
/*===========main==========*/
.wrap{ width: 100%; padding-top: 4.84rem;}
.ban{ width: 100%; height:3.92rem;  background: url(../images/banner2.jpg) no-repeat; background-size: 100% 100%; }
.tite{width: 100%; text-align: center; font-size: .32rem; line-height: .48rem; font-weight: 700;}
.tite p{ color: rgba(20,20,20,.5); font-size: .24rem; line-height: .4rem; font-weight: normal;}
.pabt3{position: absolute; left: 0 ;top: -.4rem;}
.connect{ margin:0 .18rem .6rem; padding: 0 .18rem .3rem; background: #cda27b;/*padding:0 .36rem 1.3rem; background: url(../images/bg.jpg) repeat-y; background-size: 100% auto; */}
.contbox{ background:#f4e5d6; padding-bottom: .6rem;position: relative; z-index: 1; }
.search{ margin:0 .36rem .4rem; padding-bottom: .3rem; padding-top: .2rem; border-bottom: 1px dashed #eddbcb;}
.searchbox{ background: #fff2e6 url(../images/searcgIcon.png) no-repeat .2rem center; background-size: .3rem .3rem; height:.56rem; margin: .2rem 0; padding:0 .7rem; border:2px solid #e1c6ad; border-radius:.56rem; overflow: hidden; position: relative; z-index: 1;}
.delesearch{position: absolute; top: 0; right: 0; width: .6rem; height:100%; background: url(../images/delesearch.png) no-repeat center center; background-size: .38rem .38rem;}
.searchbox input{ width: 100%; height: .56rem; line-height: .6rem; color: var(--titlecolr); font-size: .24rem; background: #fff2e6;}
.nosearch{ text-align: center; font-size: .2rem; color: var(--redcolor); line-height: .48rem; margin-bottom: .1rem;}
.searchBook{ height: 2.3rem; position: relative; z-index: 1; padding-left: 2rem; margin-top: .3rem; }
.searchBook .cover{ position: absolute; left: 0; top: 0; width: 1.58rem; height: 2.3rem; box-shadow: 0 3px 10px rgba(0,0,0,.3) }
.searchBook p{font-size: .24rem; color: var(--maincolor); line-height: .38rem; overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.searchBook p.bookname{ color: var(--titlecolr); font-size: .3rem;-webkit-line-clamp: 1; line-height: .48rem;}
.searchBook p.author{ -webkit-line-clamp: 1;}
.recevbtn{display: block; position: relative; z-index: 1; width: 2.2rem; padding-top: 2px; height: .56rem; background: var(--greenbgcor); border-radius:4px; border-bottom: 2px solid var(--greenborbotcor);text-align: center; line-height: .58rem; font-size: .28rem; color: var(--btncolor); margin-top: .14rem;}
/*****************************/
.bangtab{display: -webkit-flex;margin: .36rem .24rem 0; flex-wrap:wrap;}
.bangtab li{ width: 1.5rem; height: .56rem; line-height: .56rem; text-align: center; border: 1px solid #c4b2a6; border-radius: .56rem; margin:0 auto; font-size: .24rem; color: var(--maincolor);}
.bangtab li.active{ border-color: #c39a75; background: #fff2e6; box-shadow: inset 1px 1px 10px rgba(229,206,186,.6),1px 1px 5px rgba(0,0,0,.18)}
/*========================*/
.booklist{ display: -webkit-flex;margin: 0 .24rem; flex-wrap:wrap;}
.booklist li{ width: 1.58rem; margin:.3rem auto .16rem;}
.booklist li .bookface{ width: 1.58rem; height: 2.34rem; margin: 0 auto .1rem; box-shadow: 0 1px 20px rgba(0,0,0,.24)}
.booklist li .bookface img{ width: 100%; height: 100%; display: block; margin: 0 auto;}
.booklist li p{ font-size: .24rem; color: var(--maincolor); line-height: .38rem; height: .38rem; width: 1.86rem; margin: 0 auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.booklist li p.bookname{color: var(--titlecolr); font-size: .24rem;}
.booklist li .votebtn{ display: block; position: relative; z-index: 1; width: 1.58rem; padding-top: 2px; height: .56rem; background: var(--redcolor); border-radius:4px; border-bottom: 2px solid #db442e; margin: .2rem auto 0; text-align: center; line-height: .58rem; font-size: .28rem; color: var(--btncolor);}
.booklist li .votebtn.disabeled{ background: #bfbfbf; border-color: #a19f9f; }
.booklist li .votebtn.isselected{ background: var(--greenbgcor); border-color: var(--greenborbotcor); }
.booklist.hide{display: none;}
@-webkit-keyframes ani4{    
    100%{opacity: 1}
}
.arrows img{width: .14rem; display: inline-block;}
@-webkit-keyframes arrow1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow2 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow3 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrows img:nth-child(1){-webkit-animation: arrow1 1.5s infinite;}
.arrows img:nth-child(2){-webkit-animation: arrow2 1.5s infinite;}
.arrows img:nth-child(3){-webkit-animation: arrow3 1.5s infinite;}
/*===========规则==========*/
.rules{ width: 100%; overflow: hidden; color: #815e55; padding-bottom: .8rem;}
.rules h4{ text-align: center; font-size: .36rem; font-weight: bold;  line-height: 1rem;}
.rules p{ padding-left: .38rem; margin: 0 .46rem; font-size: .28rem;  line-height: .48rem; position: relative; z-index: 1;}
.rules p span{display: inline-block; position: absolute; left:0; top:0; width: .28rem; line-height: .48rem;}
.rules a{display:block;padding-left: .28rem; margin: 0 .46rem 0; font-size: .28rem; color: #8a5c30; line-height: .48rem}
.copyright{ width: 100%; display:block; margin-top: -.7rem; position: relative; z-index: -1}
/*===========tank===============*/
.mask{position:fixed;top:0;left:0;width: 100%;height: 100%;background:rgba(0,0,0,0.64);-webkit-align-items:center;-webkit-justify-content:center;z-index: 1000;display:-webkit-flex;}
.tiparea{width: 5.1rem;background: #eee9e1;border-radius: .1rem;position: relative; padding: .4rem;}
.gifticon{ position: absolute; left: 50%; top: -.66rem; width: 2.85rem; height: 1.66rem; margin-left: -1.43rem; background: url(../images/tk_prizeicon.png) no-repeat; background-size: 100% 100%; }
.tiparea h4{font-size: .32rem; color:#333;text-align: center;padding: .6rem 0 .15rem;line-height:.48rem; font-weight: bold;}
.tiparea p{ font-size: .28rem; line-height: .48rem; margin:.1rem .3rem .34rem;color: #666; text-align: center;}
.tiparea p span{color: #ed4434; display: block;}
.tiparea p.online{ margin:.6rem 0 .34rem; }
.btnbox{ display: -webkit-flex; -webkit-align-items:center;-webkit-justify-content:center; }
.btnbox a{ width: 2.06rem; height: .9rem; line-height: .9rem; background: var(--greenbgcor);border-radius: 4px; text-align: center; font-size: .32rem; color: #fff;border-bottom: 2px solid var(--greenborbotcor); }
.btnbox a.btnno{margin-right: .36rem; background: #bfbfbf;border-color: #a19f9f; }
.tiparea .closbtn{ display: block; margin: 0 auto; background: var(--greenbgcor); width: 3.28rem; height: .9rem; line-height: .9rem; border-radius: 4px; text-align: center; font-size: .32rem; color: #fff;border-bottom: 2px solid var(--greenborbotcor);}
.tiparea .closemk{ position: absolute; top:.2rem; right: .2rem; width: .32rem; height: .32rem;background: url(../images/close.png) no-repeat; background-size: 100% 100%;}















