<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no">
<title>老用户推荐</title>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>
<link href="main.css" rel="stylesheet" type="text/css">
</head>
<body :class="{'noscroll':showmask!=''}">
	<top banner="banner" pack="pack"></top>
	<div class="wrap">
		<div class="box" v-if="loaded">
			<box1 title="幸运专享一" :monthpicked="initdata.monthpicked"></box1>
			<box2 title="幸运专享二" :dataobj="initdata"></box2>
			<box3 title="幸运专享三" :dataobj="initdata"></box3>	
		</div>
	</div>
	<div class="cpr"><p>本活动解释权归QQ阅读所有</p></div>
	<over-box v-if="over"></over-box>
	<!-- <component :is="showmask"></component> -->
	<mask-select v-show="showmask=='maskSelect'"></mask-select>
	<mask-shelf v-show="showmask=='maskShelf'"></mask-shelf>
	<script type="text/javascript" src="js/vendor.js"></script>
	<script type="text/javascript" src="js/jsbridge.js"></script>
	<script type="text/javascript" src="js/local.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/abook.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>