* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* :focus {
  outline: none;
}
html {
  font-size: 100px;
  font-family: 'Microsoft Yahei';
}
ul {
  list-style: none;
}
img {
  display: block;
}
.clearfix {
  clear: both;
}
/* Media Queries */
@media (-webkit-min-device-pixel-ratio: 2) {
}
@media (max-width: 350px) {
  .desc {
    font-size: 0.18rem!important;
  }
  .rules p {
    font-size: 0.16rem!important;
  }
}
