body,div,p,h4,ul,li{margin:0;padding:0;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
li{ list-style:none;}
em,i,span{ font-style:normal; font-weight: normal;}
body{font-family:"Microsoft YaHei",Helvetica,STHeiTi,sans-serif,sans-serif;-webkit-text-size-adjust:none; font-size: .24rem; line-height: .24rem; color: #593e70; background:#fcf1fd;}

/*===========main==========*/
.bammerbox{ width: 100%; padding-top: 10.44rem; background:url(../images/banner.png) no-repeat; background-size: 100% auto; text-align: center;}
.tt{ display:inline-block; font-size: .36rem; color: #2b2b2b; line-height: .68rem;position: relative; z-index: 1; padding-bottom: .18rem; margin: 0 auto .4rem;}
.tt:after{content: ''; position: absolute; left: 0; bottom:0; width: 100%; height: .18rem; background: url(../images/bolang.png) repeat-x; background-size: 1.5rem .18rem;}
.newbook{ margin: 0 .3rem; position: relative; z-index: 1;}
.bookface{ position: absolute; left: 0; top: 0; width: 2.02rem; height: 2.62rem; background: url(../images/bookface.png) no-repeat; background-size: 100% 100%;}
.bookinfo{ padding-left: 2.3rem; height: 2.82rem; text-align: left;}
.bookinfo h4{ font-size:.32rem; line-height: .36rem; margin-bottom: .2rem;}
.bookinfo p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden; font-size: .28rem; line-height: .42rem;}
.notice{ color: rgba(43,43,43,.7); font-size: .24rem; line-height: .48rem; margin-left: .48rem; text-align: left;}
.btnbox{ margin: .24rem .3rem .6rem; height: 1.1rem; display: -webkit-flex;flex-flow: row;justify-content:center;align-items:center;}
.btnbox a{ display: block;  width: 3.47rem; padding-left: .07rem; height: 100%; background: url(../images/btnbg.png) no-repeat; background-size: 8rem auto; overflow: hidden; color: #fff; line-height: .94rem; font-size: .32rem; text-shadow:0 1px 3px rgba(60,45,69,.8);}
.btnbox a.appointment{ background-position: 0 -2.4rem; position: relative; z-index: 1; padding-left: 1.38rem; width: 2.16rem; text-align: left;}
.btnbox a:active{ background-position: -3.58rem 0;}
.btnbox a.appointment.yiyuyue{ background-position: -3.58rem 0;}
.btnbox a img{ display: block; position: absolute; left: .82rem ;top: .3rem; width: .34rem; height: .36rem; margin-right: .2rem;}
.video{ margin: 0 auto .24rem;}
.videobox{ background: #e5dae6; padding: .09rem; margin: 0 .3rem .4rem; height: 3.7rem; }
.videobox .vvbox{position: relative; z-index: 1;width: 100%; height: 100%;}
.vvbox img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 20;  display: block;}
.vvbox video{position: absolute; left: 0; top: 0; width: 100%; height: 100%;  z-index: 10; display: block;}
.glass{position: absolute; left: 0; top: 0;z-index: 15; width: 100%; height: 100%;}
.sharebox{ margin: 0 .3rem;}
.sharebox p{text-align: center; margin: 0;}
.sharebtn{ display: block; width: 2.94rem; height: 1.1rem; padding-left: .9rem; margin: .4rem auto .6rem;background: url(../images/btnbg.png) no-repeat 0 -1.2rem; background-size: 8rem auto;color: #fff; line-height: .94rem; font-size: .32rem; text-shadow:0 1px 3px rgba(60,45,69,.8); position: relative; z-index: 1; text-align: left;}
.sharebtn img{ position: absolute; left: .48rem ;top: .28rem; width: .36rem; height: .38rem;}
.sharebtn:active{ background-position: -3.9rem -1.2rem;}
.prizebox{ width: 6.78rem; height: 7.64rem; margin:0 auto; background: url(../images/prizes.png) no-repeat; background-size: 100% 100%; position: relative; z-index: 1;}
.prizebtn{ position: absolute; z-index: 1; left: 50%; top: 2.06rem; width: 2.76rem; height: 2.76rem; margin-left: -1.38rem; background: url(../images/prizebtn.png) no-repeat;background-size: 100% 100%; -webkit-transition:all 3s ease-in-out; transform-origin:50% 50%;}
.startprize{position: absolute; z-index: 2; left: 50%; top: 50%; display: block; width: 1.58rem; height: 1.58rem; margin-left:-.79rem; margin-top: -1.08rem; background: url(../images/btnprize.png) no-repeat;background-size: 100% 100%; }
.rules p{font-size: .36rem; color: #2b2b2b; line-height: .68rem; text-align: center; margin:.2rem 0 .4rem;}
.rules li{ text-align: left; margin: 0 .3rem .18rem; padding-left: .48rem; position: relative; z-index: 1; font-size: .28rem; line-height: .42rem;}
.rules li span{position: absolute; left: 0; top: 0; text-align: right; display: block; width: .4rem;}
.rules li a{ color: #944193;font-weight: bold;}
.rules p.copyright{ color: rgba(89,62,112,.65); font-size: .24rem;}
/*==================mask=================*/
.mask{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7);-webkit-align-items:center;-webkit-justify-content:center;z-index: 100;display:-webkit-flex;}
.teaparea{ width: 5.2rem; background: #fcf1fd; border-radius: .2rem;  padding-bottom: .1rem; position: relative; z-index: 1;text-align: center;}
.closeicon{ position: absolute; top: .2rem; right: .2rem; width: .44rem; height: .44rem; background: url(../images/close.png) no-repeat; background-size: 100% 100%;}
.prizeicon{ position: absolute; left: 50%; top: -.6rem; width: 2.86rem; height: 1.66rem; margin-left: -1.43rem; background: url(../images/tk_prizeicon.png) no-repeat; background-size: 100% 100%;}
.btnaction{display: block;  width: 3.47rem; padding-left: .07rem; height: 1.1rem; background: url(../images/btnbg.png) no-repeat; background-size: 8rem auto; overflow: hidden; color: #fff; line-height: .94rem; font-size: .32rem; text-shadow:0 1px 3px rgba(60,45,69,.8); margin: .3rem auto 0;}
.btnaction:active{background-position: -3.58rem 0;}
.teaparea h4{ font-size: .32rem; line-height: .48rem; color: #333; padding-top: 1.2rem; margin-bottom: .2rem;}
.teaparea p{ font-size: .2rem; line-height: .48rem; color: #7e797e;}
.titles{ width: 100%; height: 1.04rem; line-height: 1.04rem; background: #e8775b; border-radius: .2rem .2rem 0 0; font-size: .36rem; color: #fff; text-shadow:1px 1px 2px #d0664c;}
.prizemask h4{ padding-top: .4rem;}
.prizemask h4 span{ color: #e8775b;}
.prizemask p{ text-align: left; margin: 0 .5rem;}
.prizepic{ display: block; width: 2.16rem; margin: 0 auto;}


















