@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img{margin:0;padding:0;color:#999;font-size:14px;}
em,i,b{ font-style:normal; font-weight:normal;}
h1,h2,h3,h4,h5{ font-weight:normal;}
body{font-family: "Microsoft YaHei",微软雅黑, Helvetica, STHeiTi, sans-serif;-webkit-text-size-adjust:none;background:#f9464a;}
ul,ol,li{list-style:none}
img{border:0 none;-webkit-touch-callout:none;}
a{text-decoration:none;color:#504f4f;-webkit-touch-callout:none;-webkit-user-select:none}
html,body{-webkit-user-select:none;user-select:none;height:100%;}
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.active{background-color:#e5e5e5;}
.none{display:none}
.fl{float:left;}
.fr{float:right;}
.topbar img{ width:100%; display:block;}
.upgradeinfo{ background:#d82f31; margin:0 18px; padding:22px 9px 4px; border-radius:5px;}
.upgradeinfo p{ font-size:14px; color:#fff; line-height:20px; padding-bottom:15px;}
.down_btn{ margin:18px; display:block; height:45px; line-height:47px; background:#ff7b2c; border-bottom:2px solid #eb291b; border-radius:5px; font-size:18px; text-align:center; color:#fff;}
.down_btn img{ display:inline-block; vertical-align:top; width:21px; height:21px; margin-left:8px; margin-top:11px; position:relative;}