<script id="qbag" type="text/html">
    <div class="head"><img src="images/top.jpg" alt="">
        <!--有头像时状态-->
        <!--点击态时加active "goods auto-x active"-->
        <div class="goods auto-x" id="uct" onclick="javascript:goAccount();"><img id="uicon" src="images/face2.png" alt="">
            <h3 id="nick">登录QQ查看</h3>
            <p><span>500</span>阅券红包已到账</p>
            <span class="gpoint"></span>
        </div>
    </div>
    <div id="ccontent" style="display:none;">
    <!--0.99元专区-->
    <div class="layout" id="9c">
        <div class="title auto-x"><span class="discount09 auto-x"></span> <span class="vline auto-x"></span>
            <p class="limitTime auto-x" id="end9"  style="display:none">结束仅剩<span id="9d"></span>天<span id="9h"></span>小时<span id="9m"></span>分钟</p>
        </div>
        {{if books[2332]}}
        <ul class="booklist">
            {{each books[2332] as value i}}
            {{if i<=2}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <ul class="sbooklist">
            {{each books[2332] as value i}}
            {{if i>=3&&i<=4}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <ul class="sbooklist">
            {{each books[2332] as value i}}
            {{if i>=5&&i<=6}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <!--1.99折专区-->
    <div class="layout5" id="5c">
        <div class="title auto-x"><span class="discount5 auto-x"></span> <span class="vline auto-x"></span>
            <p class="limitTime auto-x" id="end5"  style="display:none">结束仅剩<span id="5d"></span>天<span id="5h"></span>小时<span id="5m"></span>分钟</p>
        </div>
        <div class="titles">女生专区</div>
        {{if books[2329]}}
        <ul class="booklist">
            {{each books[2329] as value i}}
            {{if i<=2}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <ul class="sbooklist">
            {{each books[2329] as value i}}
            {{if i>=3&&i<=4}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
        <div class="titles">男生专区</div>
        {{if books[2330]}}
        <ul class="booklist">
            {{each books[2330] as value i}}
            {{if i<=2}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <ul class="sbooklist">
            {{each books[2330] as value i}}
            {{if i>=3&&i<=4}}
            <li onclick="javascript:goBookDetailPage('{{value.bid}}');"><img src={{value.cover}} alt="">
                <p class="book_name">{{value.title}}</p>
                <p class="priceDel">{{value.price}}</p>
                <p class="priceNow">{{value.nowPrice}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>
    </div>
    <!--活动规则-->
    <div class="rulebox">
        <h4>活动规则</h4>
        <ul>
            <li>活动时间：2016年2月7日-2月16日</li>
            <li>活动期间页面内书籍，全部特价销售，活动结束后恢复原价</li>
            <li>阅券为购买书籍的道具仅限于书籍订阅，付费时优先扣取</li>
        </ul>
        <p class="copyright">此活动解释权归QQ阅读所有</p>
    </div>
</script>


<script id="over" type="text/html">
    <div class="head"> <img src="images/top.jpg" alt="">
        <!--有头像时状态-->
        <div class="goods auto-x" id="uctover" onclick="javascript:goAccount();"><img id="uiconover" src="images/face2.png" alt="">
            <h3 id="nickover">登录QQ查看</h3>
            <p><span>500</span>红包阅券已到账</p>
            <span class="gpoint"></span>
        </div>
    </div>
    <!--活动已结束时-->
    <div class="cntnone">
        本活动已结束
    </div>
</script>

<script id="updateApp" type="text/html">
    <div class="over">
        <div class="head"> <img src="images/top2.jpg" alt="">
        </div>
        <!--默认头像时-->
        <!--点击态时加active "goods auto-x active"-->
        <div class="goods auto-x" onclick="javascrpit:goAPPStore();"><img id="uiconupdate" src='images/face2.png' alt="">
            <h3>升级QQ阅读最新版</h3>
            <p>参加春节打折活动</p>
            <span class="gpoint"></span>
        </div>
        <!--有头像时状态-->
        <div class="goods auto-x" style="display:none"> <img src="images/tou.png" alt="">
            <h3>伊丽莎白大白鹅</h3>
            <p><span>500</span>阅券红包已到账</p>
            <span class="gpoint"></span> </div>
        <div class="redbag auto-x" onclick="javascrpit:goAPPStore();"></div>
        <div class="book"  onclick="javascrpit:goAPPStore();"></div>
    </div>
</script>

