.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.maskOver {
  display: none;
}
.maskOver .panelOver {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 4.7rem;
  height: 5.4rem;
}
.maskSuccessful {
  display: none;
}
.maskSuccessful .panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 4.1rem;
  margin: auto;
  background: #3f362a;
  border-radius: 0.1rem;
}
.maskSuccessful .panel .textSuccessful {
  width: 5.4rem;
  margin: auto;
  margin-top: 0.25rem;
}
.maskSuccessful .panel .gotitSuccessful {
  width: 4.5rem;
  margin: auto;
  margin-top: 0.4rem;
}
.maskOut {
  display: none;
}
.maskOut .panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 3.6rem;
  margin: auto;
  background: #3f362a;
  border-radius: 0.1rem;
}
.maskOut .panel p {
  margin-top: 1rem;
  font-size: 0.36rem;
  text-align: center;
  color: #f3a91b;
}
.maskOut .panel .gotitOut {
  width: 4.5rem;
  margin: auto;
  margin-top: 1rem;
}
.main {
  width: 100%;
  overflow: hidden;
}
.main .panel1 {
  width: 6.25rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 1.15rem;
}
.main .panel1 .gift1 {
  width: 2.4rem;
  margin: auto;
}
.main .panel1 .desc {
  margin-top: 0.25rem;
  text-align: center;
  font-size: 0.28rem;
  color: #705834;
}
.main .panel1 .state1 {
  display: none;
}
.main .panel1 .couponUnreceived .coupon {
  width: 4.5rem;
  margin: auto;
  margin-top: 0.45rem;
}
.main .panel1 .couponUnreceived .getCoupon {
  width: 4.5rem;
  margin: auto;
  margin-top: 0.32rem;
}
.main .panel1 .couponOver {
  font-size: 0.5rem;
}
.main .panel1 .couponOut .couponGrey {
  width: 4.5rem;
  margin: auto;
  margin-top: 0.45rem;
}
.main .panel1 .couponOut .getCouponGrey {
  width: 4.5rem;
  margin: auto;
  margin-top: 0.32rem;
}
.main .panel1 .couponReceived {
  overflow: hidden;
}
.main .panel1 .couponReceived .congratulations {
  margin-top: 0.25rem;
  margin-bottom: 0.35rem;
  font-size: 0.4rem;
  line-height: 0.52rem;
  color: #f3a91b;
  text-align: center;
}
.main .panel1 .couponReceived .copyIt {
  margin-bottom: 0.18rem;
  font-size: 0.24rem;
  color: #8f7d65;
  text-align: center;
}
.main .panel1 .couponReceived .code {
  width: 6rem;
  height: 0.88rem;
  margin: auto;
  margin-bottom: 0.38rem;
  border-radius: 0.12rem;
  background: #d3d3d3;
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.88rem;
}
.main .panel1 .couponReceived .how {
  margin-bottom: 0.35rem;
  font-size: 0.28rem;
  color: #8f7d65;
}
.main .panel1 .couponReceived .swiperPanel {
  position: relative;
  width: 6.1rem;
  height: 4.2rem;
  margin: auto;
  box-sizing: border-box;
  border-radius: 0.1rem;
  border: 0.05rem #c4beb0 solid;
  background: #c4beb0;
}
.main .panel1 .couponReceived .swiperPanel .swiperText {
  padding: 0.15rem;
  font-size: 0.24rem;
  color: #8f7d65;
}
.main .panel1 .couponReceived .swiperPanel .lower {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.55rem;
}
.main .panel1 .couponReceived .swiperPanel .lower .swiper {
  width: 4.52rem;
  height: 3.47rem;
  margin: auto;
  overflow: hidden;
}
.main .panel1 .couponReceived .swiperPanel .lower .swiper .train {
  width: 300%;
  height: 3.47rem;
}
.main .panel1 .couponReceived .swiperPanel .lower .swiper .train .item {
  float: left;
  width: 4.52rem;
  height: 3.47rem;
}
.main .panel1 .couponReceived .swiperPanel .lower .swiper .train .item img {
  width: 100%;
}
.main .panel1 .couponReceived .dotsContainer {
  position: relative;
  float: left;
  left: 50%;
}
.main .panel1 .couponReceived .dotsContainer .dots {
  position: relative;
  overflow: hidden;
  float: left;
  right: 50%;
  margin: auto;
}
.main .panel1 .couponReceived .dotsContainer .dots .dot {
  float: left;
  width: 0.16rem;
  height: 0.16rem;
  margin: 0.24rem 0.12rem 0 0.12rem;
  border-radius: 50%;
  background: #999999;
}
.main .panel1 .couponReceived .dotsContainer .dots .dot.active {
  background: #515151;
}
.main .panel2 {
  width: 6.25rem;
  margin: auto;
  margin-bottom: 0.7rem;
}
.main .panel2 .gift2 {
  width: 2.4rem;
  margin: auto;
}
.main .panel2 .desc {
  margin-top: 0.25rem;
  text-align: center;
  font-size: 0.28rem;
  color: #705834;
}
.main .panel2 .state2 {
  display: none;
}
.main .panel2 .over {
  width: 100%;
  padding-top: 0.3rem;
}
.main .panel2 .over .upper {
  width: 5.66rem;
  margin: auto;
  margin-bottom: 0.3rem;
  overflow: hidden;
}
.main .panel2 .over .upper .book {
  float: left;
  width: 2.55rem;
}
.main .panel2 .over .upper .right {
  float: left;
  width: 3.1rem;
  overflow: hidden;
}
.main .panel2 .over .upper .right .text-blue1 {
  margin-top: 0.2rem;
  font-size: 0.42rem;
  line-height: 0.6rem;
  color: #004557;
}
.main .panel2 .over .upper .right .text-blue2 {
  line-height: 0.6rem;
  font-size: 0.42rem;
  color: #004557;
}
.main .panel2 .over .upper .right .p-score {
  padding: 0.15rem 0 0.15rem 0;
  font-size: 0.24rem;
}
.main .panel2 .over .upper .right .p-score .stars {
  width: 1.1rem;
  display: inline;
}
.main .panel2 .over .upper .right .p-score .score {
  color: #BEB5A6;
}
.main .panel2 .over .upper .right .favorite {
  font-size: 0.24rem;
  color: #BEB5A6;
}
.main .panel2 .over .overGrey {
  position: relative;
  margin: auto;
  width: 4.5rem;
}
.main .panel2 .over .overGrey img {
  width: 100%;
}
.main .panel2 .over .overGrey p {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #8d8d8d;
  text-align: center;
}
.main .panel2 .before {
  width: 100%;
  padding-top: 0.3rem;
}
.main .panel2 .before .upper {
  width: 100%;
  overflow: hidden;
}
.main .panel2 .before .upper .book {
  float: left;
  width: 2.55rem;
}
.main .panel2 .before .upper .right {
  float: left;
  overflow: hidden;
}
.main .panel2 .before .upper .right .text-blue1 {
  margin-top: 0.2rem;
  font-size: 0.42rem;
  line-height: 0.6rem;
  color: #004557;
}
.main .panel2 .before .upper .right .text-blue2 {
  line-height: 0.6rem;
  font-size: 0.42rem;
  color: #004557;
}
.main .panel2 .before .upper .right .p-score {
  padding: 0.15rem 0 0.15rem 0;
  font-size: 0.24rem;
}
.main .panel2 .before .upper .right .p-score .stars {
  width: 1.1rem;
  display: inline;
}
.main .panel2 .before .upper .right .p-score .score {
  color: #BEB5A6;
}
.main .panel2 .before .upper .right .favorite {
  font-size: 0.24rem;
  color: #BEB5A6;
}
.main .panel2 .before .text-pwd {
  margin-bottom: 0.2rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #705733;
}
.main .panel2 .before .lower .inputBox {
  float: left;
  position: relative;
  height: 0.75rem;
}
.main .panel2 .before .lower .inputBox .error {
  position: absolute;
  left: 0;
  bottom: -0.35rem;
  font-size: 0.28rem;
  color: #af1b1a;
}
.main .panel2 .before .lower .inputBox img {
  height: 100%;
}
.main .panel2 .before .lower .inputBox input {
  position: absolute;
  left: 0;
  top: 0.185rem;
  width: 100%;
  height: 0.38rem;
  font-family: 'Microsoft Yahei';
  font-size: 0.28rem;
  line-height: 0.38rem;
  text-indent: 0.16rem;
  border: none;
  color: #999999;
  display: block;
  background: transparent;
}
.main .panel2 .before .lower .complete {
  float: right;
  width: 1.58rem;
  height: 0.70rem;
  line-height: 0.7rem;
}
.main .after {
  margin-top: 0.5rem;
  display: none;
}
.main .after .congratulations {
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 0.4rem;
  color: #f3a91b;
}
.main .after .youth {
  margin-bottom: 0.3rem;
  font-size: 0.32rem;
  text-align: center;
  color: #f3a91b;
}
.main .after .time {
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 0.24rem;
  color: #8f7d65;
}
.main .after .readItNow {
  width: 4.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin: auto;
}
.main .rules {
  width: 6.25rem;
  margin: auto;
  //font-size: 0.24rem;
}
.main .rules img {
  height: 0.3rem;
  margin-bottom: 0.2rem;
}
.main .rules p {
  margin-bottom: 0.3rem;
  padding-left: 0.26rem;
  text-indent: -0.26rem;
  font-size: 0.16rem;
  line-height: 0.4rem;
  color: #8F7D65;
}
.main .rules p span {
  font-weight: bold;
  color: #655130;
}
.main .bottomTicket {
  width: 100%;
  margin-bottom: 0.25rem;
}
