body,div,p,h4,ul,li{margin:0;padding:0;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
li{ list-style:none;}
em,i,span{ font-style:normal; font-weight: normal;}
body{font-family:"Microsoft YaHei",Helvetica,STHeiTi,sans-serif,sans-serif;-webkit-text-size-adjust:none; font-size: .28rem; line-height: .28rem; color: #341c17; background:#28202e;}
.hide{display: none;}
/*===========main==========*/
.wrap{ width: 100%; padding-top: 4.84rem;}
.ban{ width: 100%; height:3.92rem;  background: url(../images/banner3.jpg) no-repeat; background-size: 100% 100%; }
.tite{width: 100%; text-align: center; font-size: .32rem; line-height: .48rem; font-weight: 700;}
.tite p{ color: rgba(20,20,20,.5); font-size: .24rem; line-height: .4rem; font-weight: normal;}
.pabt3{position: absolute; left: 0 ;top: -.4rem;}
.connect{ margin:0 .18rem .6rem; padding: 0 .18rem .3rem; background: #cda27b;/*padding:0 .36rem 1.3rem; background: url(../images/bg.jpg) repeat-y; background-size: 100% auto; */}
.contbox{ background:#f4e5d6; padding-bottom: .6rem;position: relative; z-index: 1; }
.receiveQuan{ width: 5.4rem; height: 2.5rem; margin:0 auto .3rem; text-align: center; background: url(../images/receiveQbg.png) no-repeat; background-size: 100% 100%; }
.receiveQuan .tite{ padding-top: .3rem;}
.receiveQuan .tite p{ margin:.16rem auto .1rem;font-weight: 700;}
.receivebtn{ display: block; margin:0 auto; width: 3.6rem; height: .58rem; line-height: .58rem; font-size: .26rem; color: #fff; text-align: center; background: #3fbc82; border-radius: 4px; }
.gologin{ padding: 1rem 0 .8rem; }
.lgoinbtn{display: block; margin:0 auto 0; width: 3.6rem; height: .9rem; line-height: .9rem; font-size: .32rem; color: #fff; text-align: center; background: #3fbc82; border-radius: 4px;}
/*========================*/
.booklist{ display: -webkit-flex;margin: 0 .24rem; flex-wrap:wrap;}
.booklist li{ width: 1.58rem; margin:.3rem auto .16rem;}
.booklist li .bookface{ width: 1.58rem; height: 2.34rem; margin: 0 auto .1rem; box-shadow: 0 1px 20px rgba(0,0,0,.24); position: relative; z-index: 1;}
.zheifon{position: absolute; left: 0; top: 0; width: .68rem; height: .67rem; background: url(../images/2zheicon.png) no-repeat; background-size: 100% 100%;}
.booklist li .bookface img{ width: 100%; height: 100%; display: block; margin: 0 auto;}
.booklist li p{ font-size: .24rem; color: #968375; line-height: .38rem; height: .38rem; width: 1.86rem; margin: 0 auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.booklist li p.bookname{color: #341c17; font-size: .24rem;}
.booklist li .votebtn{ display: block; position: relative; z-index: 1; width: 1.58rem; padding-top: 2px; height: .56rem; background: #fa654f; border-radius:4px; border-bottom: 2px solid #db442e; margin: .2rem auto 0; text-align: center; line-height: .58rem; font-size: .28rem; color: #fff;}
.booklist li .votebtn.disabeled{ background: #bfbfbf; border-color: #a19f9f; }
.booklist li .votebtn.isselected{ background: #3fbc82; border-color: #31a06c; }
@-webkit-keyframes ani4{    
    100%{opacity: 1}
}
.arrows img{width: .14rem; display: inline-block;}
@-webkit-keyframes arrow1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow2 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow3 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrows img:nth-child(1){-webkit-animation: arrow1 1.5s infinite;}
.arrows img:nth-child(2){-webkit-animation: arrow2 1.5s infinite;}
.arrows img:nth-child(3){-webkit-animation: arrow3 1.5s infinite;}
/*===========规则==========*/
.rules{ width: 100%; overflow: hidden; color: #815e55; padding-bottom: .8rem;}
.rules h4{ text-align: center; font-size: .36rem; font-weight: bold;  line-height: 1rem;}
.rules p{ padding-left: .38rem; margin: 0 .46rem; font-size: .28rem;  line-height: .48rem; position: relative; z-index: 1;}
.rules p span{display: inline-block; position: absolute; left:0; top:0; width: .28rem; line-height: .48rem;}
.rules a{display:block;padding-left: .28rem; margin: 0 .46rem 0; font-size: .28rem; color: #8a5c30; line-height: .48rem}
.copyright{ width: 100%; display:block; margin-top: -.7rem; position: relative; z-index: -1}
/*===========tank===============*/
.mask{position:fixed;top:0;left:0;width: 100%;height: 100%;background:rgba(0,0,0,0.64);-webkit-align-items:center;-webkit-justify-content:center;z-index: 1000;display:-webkit-flex;}
.tiparea{width: 5.1rem;background: #eee9e1;border-radius: .1rem;position: relative; padding: .4rem;}
.gifticon{ position: absolute; left: 50%; top: -.66rem; width: 2.85rem; height: 1.66rem; margin-left: -1.43rem; background: url(../images/tk_prizeicon.png) no-repeat; background-size: 100% 100%; }
.tiparea h4{font-size: .32rem; color:#333;text-align: center;padding: .6rem 0 .15rem;line-height:.48rem; font-weight: bold;}
.tiparea p{ font-size: .28rem; line-height: .48rem; margin:.1rem .3rem .34rem;color: #666; text-align: center;}
.tiparea p span{color: #ed4434; display: block;}
.tiparea p.online{ margin:0rem 0 .34rem; }
.btnbox{ display: -webkit-flex; -webkit-align-items:center;-webkit-justify-content:center; }
.btnbox a{ width: 2.06rem; height: .9rem; line-height: .9rem; background: #3fbc82;border-radius: 4px; text-align: center; font-size: .32rem; color: #fff;border-bottom: 2px solid #31a06c; }
.btnbox a.btnno{margin-right: .36rem; background: #bfbfbf;border-color: #a19f9f; }
.tiparea .closbtn{ display: block; margin: 0 auto; background: #3fbc82; width: 3.28rem; height: .9rem; line-height: .9rem; border-radius: 4px; text-align: center; font-size: .32rem; color: #fff;border-bottom: 2px solid #31a06c;}
.tiparea .closemk{ position: absolute; top:.2rem; right: .2rem; width: .32rem; height: .32rem;background: url(../images/close.png) no-repeat; background-size: 100% 100%;}















